{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
        <link rel="stylesheet" href='{% static "app/css/bootstrap.css" %}' media="screen" title="bootstrap" charset="utf-8">
</head>
<body>
    <h2>Welcome to Craiglist</h2>
    <br>
      <div class="container">
            <a href="{% url 'index_view' %}">Home</a>
            <a href="{% url 'category_view' %}">Categories</a>






    {% block content %}
        no content
    {% endblock %}
</body>
</html>