{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
        <link rel="stylesheet" href='{% static "new/css/bootstrap.css" %}' media="screen" title="bootstrap" charset="utf-8">
</head>
<body>
    <br>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
    <ul class="nav nav-pills">
      {% if user.is_authenticated %}
  <li role="presentation" class="active"><a href="{% url 'index_view' %}">Home</a></li>
  <li role="presentation"><a href="{% url 'category_view' %}">Categories</a></li>
  <li role="presentation"><a href="{%url 'listing_create_view'%}">Create listing item</a></li>
  <li role="presentation"><a href="{%url 'logout_view'%}?next=/">Logout</a></li>
    {% else %}
  <li role="presentation" class="active"><a href="{% url 'index_view' %}">Home</a></li>
  <li role="presentation"><a href="{% url 'user_create_view'%}">Create user</a></li>
  <li role="presentation"><a href="{%url 'login'%}">User login</a></li>
    {%endif%}
  </ul>

    </div>

   </nav>
   <br>
      {% block content %}
          no content
      {% endblock %}

   </div>

</body>
</html>
